nav.navigation
	ul.navigation__list
		li.navigation__list__item
			a.navigation__list__link
				span="Product"
		li.navigation__list__item
			a.navigation__list__link
				span="Lookbook"
		li.navigation__list__item
			a.navigation__list__link
				span="Collections"
		li.navigation__list__item
			a.navigation__list__link
				span="About"
	.navigation__right 
		.navigation__right__item 
			svg.bi.bi-bag(xmlns='http://www.w3.org/2000/svg' width='21' height='21' fill='currentColor' viewbox='0 0 16 16')
				path(d='M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z')
		.navigation__right__item 
			figure.navigation__right__item__media 
				img(src="hemd.png", alt="").navigation__right__item__image

			

	