.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 175rem;
    padding: 6.4rem 0rem;
    margin: auto;
    z-index: 2;
    position: sticky;
    @include media('<phone') { 
        padding: 6.4rem 3rem;
       }
    .nav__mobile__icon {
        display: none;
        @include media('<phone') { 
            display: block;
           }
    }
    .navigation__list{
        display: flex;
        align-items: center;
        @include media('<phone') {
            display: none;
           }
        .navigation__list__item{
            .navigation__list__link{
                padding-right: 3.5rem;
                margin-right: 4.8rem;
                font-size: 2rem;
                text-transform: uppercase;
            }
        }
    }

    .navigation__right {
        position: absolute;
        right: 0rem;
        display: flex;
        align-items: center;
        @include media('<phone') {
            right: 3rem;
           }
        .navigation__right__item {
            position: relative;
            border-radius: 0 0 150px 150px;
            height: 5rem;
            width: 5rem;
            background-color: black;
            margin-right: 2.3rem;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            @include media('<tablet') {
                padding: 0rem 1rem;
               }
        }

        .navigation__right__item:nth-of-type(2){
            height: 5.2rem;
            width: 5.2rem;
            margin-right: 0rem;
            .navigation__right__item__media {
                // position: absolute;
                height: .5rem;
                width: .5rem;
                .navigation__right__item__image{
                    @extend %cover;
                    vertical-align: top;
                    object-fit: cover;

                }
            }
        }
    }
}