$font-primary: 'FONTSPRING DEMO - Voire';
$font-secondary: 'FONTSPRING DEMO - Voire Display';

$color-cream: #E8E5D6;
$color-dark-cream: #E4D7B1;
$color-dark: #282621;
$color-light-brown: #481C01;
$color-very-dark-brown: #2C1101;
$color-deep-brown: #3F1700;

$ease-in-out: cubic-bezier(0.77, 0, 0.175, 1);

$z-indexes: (
  'preloader',
  'transition',
  'navigation', 
  
);
