.home{
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    
    .home__wrapper{
        .home__hero__con{
            background-color: $color-cream;
            z-index: 2;
            position: inherit;
            .home__marque {
                width: 100%;
                position: absolute;
                height: 18.2rem;
                top: 107.7rem;
                background-color: $color-very-dark-brown;
                display: flex;
                align-items: center;
                overflow: hidden;
                .marquee__inner{
                    display: flex;
                    align-items: center;
                    margin-left: 6rem;
                    margin-top: 0.5rem;
                    margin-right: 0rem;
                    h3{
                        font-size: 8rem;
                        color: $color-cream;
                    }

                    .home__hero__item__media {
                        position: relative;
                        height: 5.5rem;
                        width: 5.5rem;
                        margin-left: 3rem;
                        .home__hero__item__image{
                            @extend %cover;
                            vertical-align: top;
                            object-fit: cover;
                           
                        } 
                    }
                }
            }
            .home__hero {
                padding-top: 20rem;
                max-width: 175rem;
                margin: auto;
                display: grid;
                grid-template-columns: repeat(12,8.33333%);
                grid-template-rows: repeat(12,8.4rem);
                grid-auto-flow: row dense;
                h2{
                        font-family: $font-primary;
                        font-weight: 900;
                        font-style: normal;
                        font-size: 27rem;
                        text-transform: uppercase;
                        line-height: 22rem;
                        z-index: 6;
                }

                .home__hero__description{
                    grid-column-start: 10;
                    grid-column-end: 13;
                    grid-row-start: 1;
                    grid-row-end: 3;
                    margin-top: 1rem;
                    line-height: 2.3rem;
                    span{
                        display: block;
                        text-align: right;
                        font-size: 2.1rem;
                        text-transform: uppercase;
                    }
                }

                .home__hero__awards {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    grid-row-start: 6;
                    grid-row-end: 7;
                    margin-top: 5.3rem;
                    span{
                        display: block;
                        font-size: 2.1rem;
                        text-transform: uppercase;
                        line-height: 2.6rem;
                    }
                }

                .home__hero__pictures {
                    display: flex;
                    align-items: center;
                    grid-column-start: 1;
                    grid-column-end: 4;
                    grid-row-start: 8;
                    grid-row-end: 9;
                    margin-top: 8.8rem;
                    .home__hero__item__media {
                        position: relative;
                        height: 12rem;
                        width: 12rem;
                        background-color: $color-dark-cream;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 100%;
                        overflow: hidden;
                        .home__hero__item__image{
                            height: 100%;
                            left: 0;
                            position: absolute;
                            top: 0;
                            width: 120%;
                            vertical-align: top;
                            object-fit: cover;
                            z-index: 3;
                            margin-top: 3rem;
                            margin-left: -2rem;
                        }
                    }
                    .home__hero__item__media:first-of-type{
                        .home__hero__item__image{
                            margin-top: 3rem;
                            width: 140%;
                            margin-left: -3rem;
                        }
                    }
                }

                .home__hero__explore__more{
                    grid-column-start: 12;
                    grid-column-end: 13;
                    grid-row-start: 8;
                    grid-row-end: 9;
                    transform: rotate(90deg);
                    background-color: $color-dark;
                    width: 37rem;
                    margin-left: -7.2rem;
                    margin-top: -7rem;
                    height: 7rem;
                    border-radius: 0 150px 150px 0;
                    color: $color-cream;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    p{
                        font-size: 3.2rem;
                        font-family: $font-primary;
                        text-transform: uppercase;
                        margin-left: 2rem;
                        font-weight: 700;
                    }

                    .home__hero__item__media {
                        position: relative;
                        height: 4rem;
                        width: 4rem;
                        margin-right: 1.8rem;
                        .home__hero__item__image{
                            @extend %cover;
                            vertical-align: top;
                            object-fit: cover;
                            transform: rotate(270deg);
                            
                        }
                    }
                }

                .home__hero__full__circle {
                    position: absolute;
                    height: 115rem;
                    width: 115rem;
                    border-radius: 100%;
                    margin-top: 4.5rem;
                    margin-left: 1.15rem;
                    top: 45rem;
                    left: 52rem;
                    z-index: -1;
                    background-color: $color-light-brown;
                }
                .home__hero__semi__circle{
                    position: absolute;
                    background-color: black;
                    height: 57.5rem;
                    width: 115rem;
                    border-radius: 1000px 1000px 0 0;
                    margin-top: 4.5rem;
                    margin-left: 1.15rem;
                    top: 45.7rem;
                    left: 52rem;
                    z-index: 4;
                    background-color: $color-dark-cream;
                }
                
                .home__hero__image{
                    position: absolute;
                    height: 100rem;
                    width: 115rem;
                    top: 49.6rem;
                    left: 53rem;
                    z-index: 7;
                    .home__hero__image__media {
                        height: 115rem;
                        width: 115rem;
                        border-radius:  100%;
                        overflow: hidden;
                        .home__hero__image__image{
                            width: 100%;
                            height: 185%;
                            vertical-align: top;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
        
        .home__products__con {
            background-color: $color-deep-brown;
            z-index: -2;
            position: relative;
            .home__products {
                max-width: 175rem;
                margin: auto;
                .home__collaborations{
                    display: grid;
                    grid-template-columns: repeat(12,8.33333%);
                    grid-template-rows: repeat(12,4.75rem);
                    grid-auto-flow: row dense;

                    .home__collaborations__top{
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        width: 40rem;
                        grid-column-start: 1;
                        grid-column-end: 3;
                        grid-row-start: 5;
                        grid-row-end: 7;

                        .home__collaborations__item {
                            height: 12rem;
                            width: 12rem;
                            border-radius: 100%;
                            background-color: $color-very-dark-brown;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .home__collaborations__item__media {
                                position: relative;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 5.4rem;
                                width: 8.5rem;
                                // change this to svg
                                .home__collaborations__item__image{
                                    @extend %cover;
                                    // vertical-align: top;
                                    color: $color-cream;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                    .home__collaborations__bottom {
                        grid-column-start: 1;
                        grid-column-end: 5;
                        grid-row-start: 11;
                        grid-row-end: 13;
                        span{
                            display: block;
                            color: $color-cream;
                            text-transform: uppercase;
                            font-size: 2.1rem;
                            line-height: 2.3rem;
                        }
                    }
                } 
                .home__products__showcase{
                    display: grid;
                    grid-template-columns: repeat(12,8.33333%);
                    grid-template-rows: repeat(12,8.25rem);
                    grid-auto-flow: row dense;

                    .home__products__showcase__top {
                        position: relative;
                        grid-column-start: 4;
                        grid-column-end: 13;
                        grid-row-start: 1;
                        grid-row-end: 3;

                        h2{
                            line-height: 9.5rem;
                            color: $color-cream;
                            span{
                                display: block;
                                letter-spacing: .8rem;
                                font-size: 12rem;
                                font-weight: bold;
                                font-family: $font-primary;
                                text-transform: uppercase;
                                text-align: right;
                            }
                        }

                        img{
                            position: absolute;
                            height: 5rem;
                            width: 5rem;
                            left: 51rem;
                            top: 14.9rem;
                        }
                    }

                    .home__products__showcase__bottom{
                        grid-column-start: 1;
                        grid-column-end: 13;
                        grid-row-start: 3;
                        grid-row-end: 13;
                        display: flex;
                        align-items: center;
                        margin-top: -2rem;

                        .home__product__showcase {
                            height: 59rem;
                            width: 60rem;
                            background-color: $color-light-brown;
                            border-radius: 100%;
                           
                        }

                        .home__product__showcase:first-of-type{
                            height: 59rem;
                            width: 60rem;
                            background-color: $color-light-brown;
                            border-radius: 100%;
                            overflow: hidden;
                            .home__showcase_item__media {
                                position: relative;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 100%;
                                width: 100%;
                                overflow: hidden;
                                margin-top: 7rem;
                                margin-left: -1.5rem;
                                border-radius: 100%;
                                .home__showcase_item__image{
                                    position: absolute;
                                    width: 100%;
                                    height: 110%;
                                    vertical-align: top;
                                    object-fit: cover;
                                }

                            }
                        }

                        .home__product__showcase:nth-of-type(2){
                            padding: 1rem;
                            position: relative;
                            display: grid;
                            grid-template-columns: repeat(12,8.33333%);
                            grid-template-rows: repeat(12,8.3333333%);
                            grid-auto-flow: row dense;
                            background-color: $color-very-dark-brown;
                            .curved__text__con{
                                position: relative;
                                grid-column-start: 1;
                                grid-column-end: 13;
                                grid-row-start: 1;
                                grid-row-end: 13;
                                svg {
                                    fill: currentColor;
                                    height: 100%;
                                    display: flex;
                                    align-items: center;
                                    position: absolute;
                                    background-color: $color-very-dark-brown;
                                    border-radius: 100%;
                                    // max-width: 100vmin;
                                    // transform-origin: center;
                                    width: 100%;
                                    text{
                                        grid-column-start: 1;
                                        grid-column-end: 13;
                                        grid-row-start: 1;
                                        grid-row-end: 13;
                                    }

                                    textpath{
                                        background-color: black;
                                        color: $color-cream;
                                        font-size: .39rem;
                                        text-transform: uppercase;
                                        @include media('<big-screen') {
                                            font-size: .45rem
                                          }
                                        @include media('<tablet') {
                                            font-size: .6rem
                                          }
                                    }
                                   
                                  }
                            }

                            .home__showcase_item__media {
                                position: absolute;
                                background-color: $color-light-brown;
                                border-radius: 100%;
                                width: 89%;
                                height: 89%;
                                top: 3.1rem;
                                left: 3.1rem;
                                overflow: hidden;
                                .home__showcase_item__image{
                                    width: 100%;
                                    height: 180%;
                                    vertical-align: top;
                                    object-fit: cover;
                                }
                            }
                        }

                        .home__product__showcase:nth-of-type(3){
                            height: 59rem;
                            width: 60rem;
                            background-color: $color-light-brown;
                            border-radius: 100%;
                            overflow: hidden;
                            .home__showcase_item__media {
                                position: relative;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 100%;
                                width: 100%;
                                overflow: hidden;
                                margin-top: 5rem;
                                border-radius: 100%;
                                .home__showcase_item__image{
                                    position: absolute;
                                    width: 100%;
                                    height: 110%;
                                    vertical-align: top;
                                    object-fit: cover;
                                }

                            }
                        }

                    }
                }

                .home__products__description__container{
                    padding: 2.5rem 0rem;
                    padding-bottom: 10rem;
                    align-items: center;
                    display: flex;
                    // justify-content: center;
                    position: relative;
                    // width: 100;


                    .home__products__description{
                        font-size: 17.8rem;
                        font-weight: bold;
                        text-transform: uppercase;
                        // text-align: center;
                        line-height: 17rem;
                        letter-spacing: 0.5rem;
                        font-family: $font-primary;
                        color: $color-cream;
                        .home__products__description__text {
                            letter-spacing: 0.5rem;
                            display: inline-block;
                            transition: transform 1s cubic-bezier(.19,1,.22,1);
                        }
        
                        .home__products__description__text:first-of-type {
                            // transform: translateX(-5.3rem);
                        }
                        .home__products__description__text:nth-of-type(2) {
                            transform: translateX(76.2rem);
                        }
                        .home__products__description__text:nth-of-type(3) {
                            margin-top: -4rem;
                            // transform: translateX(-5.3rem);
                        }
                        .home__products__description__text:nth-of-type(4) {
                            margin-top: -4rem;
                            transform: translateX(54rem);
                        }
                       
                        .home__products__description__text:nth-of-type(6) {
                            transform: translateX(21rem);
                        }
                        .home__products__description__text:nth-of-type(7) {
                            transform: translateX(40rem);
                        }
                        .home__products__description__text:nth-of-type(9) {
                            transform: translateX(21.5rem);
                        }
                        .home__products__description__text:nth-of-type(10) {
                            transform: translateX(45rem);
                        }
                        .home__products__description__text:nth-of-type(12) {
                            transform: translateX(8.5rem);
                        }
                        .home__products__description__text:nth-of-type(13) {
                            transform: translateX(15.5rem);
                        }
                        .home__products__description__text:nth-of-type(15) {
                            transform: translateX(8.5rem);
                        }
                        .home__products__description__text:nth-of-type(16) {
                            transform: translateX(14.5rem);
                        }
                       
                    }

                    .home__products__media{
                        border-radius: 50%;
                        height: 12rem;
                        opacity: 1;
                        position: absolute;
                        transform: scale(.9);
                        transform-origin: center;
                        transition: opacity 1s ease,transform 1s ease;
                        width: 12rem;

                        .home__products__image{
                            width: 100%;
                            height: 100%;
                            vertical-align: top;
                            object-fit: cover;
                        }
                    }
                    .home__products__media:first-of-type{
                        top: 4.3rem;
                        left: 36rem;

                    }
                    .home__products__media:nth-of-type(2){
                        top: 4.4rem;
                        left: 51.5rem;
                        transform: scale(1);
                        background-color: $color-light-brown;
                        overflow: hidden;
                        .home__products__image{
                            width: 120%;
                            height: 150%;
                            vertical-align: top;
                            object-fit: cover;
                            margin-left: -1rem;
                        }
                    }

                    .home__products__media:nth-of-type(3){
                        top: 4.4rem;
                        left: 63.6rem;
                        transform: scale(1);
                        background-color: $color-light-brown;
                        overflow: hidden;
                        .home__products__image{
                            width: 120%;
                            height: 150%;
                            vertical-align: top;
                            object-fit: cover;
                            margin-left: -1rem;
                        }
                    }

                    .home__products__media:nth-of-type(4){
                        top: 4.4rem;
                        left: 75.6rem;
                        transform: scale(1);
                        background-color: $color-light-brown;
                        overflow: hidden;
                        .home__products__image{
                            width: 120%;
                            height: 150%;
                            vertical-align: top;
                            object-fit: cover;
                            margin-left: -1rem;
                        }
                    }

                    .home__products__media:nth-of-type(5){
                        top: 4.4rem;
                        left: 91.4rem; 
                    }
                    .home__products__media:nth-of-type(6){
                        top: 20.8rem;
                        left: 102rem;
                        transform: scale(1);
                        background-color: $color-light-brown;
                        overflow: hidden;
                        .home__products__image{
                            width: 120%;
                            height: 150%;
                            vertical-align: top;
                            object-fit: cover;
                            margin-left: -1rem;
                        }
                    }

                    .home__products__media:nth-of-type(7){
                        top: 20.8rem;
                        left: 114rem;
                        transform: scale(1);
                        background-color: $color-light-brown;
                        overflow: hidden;
                        .home__products__image{
                            width: 120%;
                            height: 150%;
                            vertical-align: top;
                            object-fit: cover;
                            margin-left: -1rem;
                        }
                    }
                    .home__products__media:nth-of-type(8){
                        top: 20.8rem;
                        left: 126rem;
                        transform: scale(1);
                        background-color: $color-light-brown;
                        overflow: hidden;
                        .home__products__image{
                            width: 120%;
                            height: 150%;
                            vertical-align: top;
                            object-fit: cover;
                            margin-left: -1rem;
                        }
                    }

                    .home__products__media:nth-of-type(9){
                        top: 54.2rem;
                        left: 126.5rem;
                        
                    }

                    .home__products__media:nth-of-type(10){
                        top: 54.4rem;
                        left: 37rem;
                        
                    }
                }

                .home__lookbook {
                    display: grid;
                    grid-template-columns: repeat(12,8.33333%);
                    grid-template-rows: repeat(12,18rem);
                    grid-auto-flow: row dense;
                    padding: 2rem 0rem;
                    padding-bottom: 12rem;
                    position: relative;
                    .home__lookbook__title{
                        font-size: 12.5rem;
                        color: $color-cream;
                        font-family: $font-primary;
                        font-weight: bold;
                        grid-column-start: 1;
                        grid-column-end: 10;
                        grid-row-start: 1;
                        grid-row-end: 2;
                        text-transform: uppercase;
                        line-height: 10rem;
                    }
                    .home__lookbook__description{
                        text-align: right;
                        grid-column-start: 10;
                        grid-column-end: 13;
                        grid-row-start: 2;
                        grid-row-end: 3;
                        font-size: 2.1rem;
                        color: $color-cream;
                        text-transform: uppercase;
                        margin-top: -1.5rem;
                        line-height: 2.3rem;
                    }

                    .home__lookbook__media__floating{
                        position: absolute;
                        top: 18rem;
                        left: 95.4rem;
                        height: 5rem;
                        width: 5rem;
                        .home__lookbook__image{
                            width: 100%;
                            height: 100%;
                            vertical-align: top;
                            object-fit: cover;
                            margin-left: -1rem;
                        }
                    }

                    .home__loookbook__circle__top{
                        display: flex;
                        align-items: center;
                        grid-column-start: 1;
                        grid-column-end: 13;
                        grid-row-start: 3;
                        grid-row-end: 7;
                        padding-top: 2rem;
                        margin-top: 11rem;
                        .home__lookbook__circle {
                            height: 88rem;
                            width: 88rem;
                            border-radius: 100%;
                            overflow: hidden;
                            .home__lookbook__media{
                                height: 88rem;
                                width: 88rem;
                                overflow: hidden;
                                .home__lookbook__image{
                                    width: 100%;
                                    height: 100%;
                                    vertical-align: top;
                                    object-fit: cover;
                                    // margin-left: -1rem;
                                }
                            }
                        }
                        
                    }

                    .home__loookbook__circle__bottom{
                        display: flex;
                        align-items: center;
                        grid-column-start: 1;
                        grid-column-end: 13;
                        grid-row-start: 7;
                        grid-row-end: 13;
                        margin-top: 9rem;
                        .home__lookbook__circle {
                            height: 88rem;
                            width: 88rem;
                            // background-color: black;
                            border-radius: 100%;
                            overflow: hidden;
                            .home__lookbook__media{
                                height: 88rem;
                                width: 88rem;
                                overflow: hidden;
                                .home__lookbook__image{
                                    width: 100%;
                                    height: 100%;
                                    vertical-align: top;
                                    object-fit: cover;
                                    // margin-left: -1rem;
                                }
                            }
                        }
                    }
                    .home__lookbook__media__floating:nth-of-type(2){
                        position: absolute;
                        top: 116.2rem;
                        left: 81rem;
                        height: 15rem;
                        width: 15rem;
                        .home__lookbook__image{
                            width: 100%;
                            height: 100%;
                            vertical-align: top;
                            object-fit: cover;
                            margin-left: -1rem;
                        }
                    }
                }
            }
            .home__marquee__bottom{
                width: 100%;
                height: 18.2rem;
                background-color: $color-very-dark-brown;
                display: flex;
                align-items: center;
                overflow: hidden;
                // margin-top: 2rem;
                .marquee__inner{
                    display: flex;
                    align-items: center;
                    margin-left: 1rem;
                    
                    h3{
                        font-size: 8rem;
                        color: $color-cream;
                        text-transform: uppercase;
                    }

                    .home__marquee__item__media {
                        position: relative;
                        height: 5.5rem;
                        width: 5.5rem;
                        margin-left: 3rem;
                        .home__marquee__item__image{
                            @extend %cover;
                            vertical-align: top;
                            object-fit: cover;
                           
                        } 
                    }
                }
            }

        }
        .home__footer{
            background-color: $color-cream;
            position: relative;
            .home__footer__container {
                display: grid;
                grid-template-columns: repeat(12,8.33333%);
                grid-template-rows: repeat(12,15.7rem);
                grid-auto-flow: row dense;
                .home__footer__circle {
                    position: absolute;
                    background-color: black;
                    height: 57.5rem;
                    width: 115rem;
                    border-radius: 0 0 1000px 1000px;
                    top: 0rem;
                    left: 38.5rem;
                    background-color: $color-dark-cream;
                    z-index: 1;
                }
                .home__footer__title{
                    font-family: $font-primary;
                    font-size: 28rem;
                    text-align: center;
                    font-weight: bold;
                    align-self: center;
                    width: 100%;
                    text-transform: uppercase;
                    z-index: 2;
                    grid-column-start: 2;
                    grid-column-end: 13;
                    grid-row-start: 1;
                    grid-row-end: 4;
                    margin-top: 35rem;
                    margin-left: -8rem;
                    line-height: 23rem;

                }
                .join__now__btn{
                    position: absolute;
                    top: 74.5rem;
                    left: 86rem;
                    background-color: $color-dark;
                    width: 26.5rem;
                    z-index: 8;
                    height: 7rem;
                    border-radius: 0 150px 150px 0;
                    color: $color-cream;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-right: 1.2rem;
                    h3{
                        font-size: 3.2rem;
                        font-family: $font-primary;
                        text-transform: uppercase;
                        margin-left: 2rem;
                        font-weight: 700;
                    }

                    .home__footer__join__now__media {
                        position: relative;
                        height: 4rem;
                        width: 4rem;
                        .home__footer__join__now__image{
                            @extend %cover;
                            vertical-align: top;
                            object-fit: cover;
                            transform: rotate(-90deg);
                            
                        }
                    }

                }
                .home__footer__circle__media__con{
                    grid-column-start: 2;
                    grid-column-end: 13;
                    grid-row-start: 5;
                    grid-row-end: 10;
                    position: relative;
                    .home__footer__item__media {
                        position: absolute;
                        height: 122rem;
                        width: 100rem;
                    }
                    .home__footer__item__media:first-of-type {
                        left: -1rem;
                        top: 0rem;
                        margin-top: -6rem;
                        z-index: 4;
                        .home__footer__item__image{
                            @extend %cover;
                            vertical-align: top;
                            object-fit: cover; 
                        } 
                    }
                    .home__footer__item__media:nth-of-type(2) {
                        left: 32rem;
                        top: 0rem;
                        margin-top: -6rem;
                        z-index: 3;
                        .home__footer__item__image{
                            @extend %cover;
                            vertical-align: top;
                            object-fit: cover; 
                        } 
                    }
                    .home__footer__item__media:nth-of-type(3){
                        z-index: 4;
                        left: 67rem;
                        top: 0rem;
                        margin-top: -6rem;
                        .home__footer__item__image{
                            @extend %cover;
                            vertical-align: top;
                            object-fit: cover; 
                        } 
                    }
                }   
                .footer__div{
                    position: absolute;
                    width: 100%;
                    height: 3rem;
                    background-color: $color-deep-brown;
                    top: 107.5rem;
                }

                .home__footer__bottom {
                    position: absolute;
                    bottom: 0rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    max-width: 175rem;
                    margin-left: 9rem;
                    width: 100%;
                    padding-bottom: 2.5rem;
                    // margin-top: 3rem;

                    .footer__bottom__left__item{
                        border-radius: 0 0 150px 150px;
                        height: 5rem;
                        width: 5rem;
                        background-color: black;
                        // margin-right: 2.3rem;
                        color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .footer__bottom__navigation__list{
                        display: flex;
                        align-items: center;
                        margin-left: 13rem;
                        li{
                            text-transform: uppercase;
                            .footer__bottom__navigation__list__link{
                                padding-right: 3.5rem;
                                margin-right: 4.8rem;
                                font-size: 2rem;
                                text-transform: uppercase;
                            }
                        }
                    }
                    .footer__bottom__right__item {
                        position: relative;
                        border-radius: 0 0 150px 150px;
                        height: 6rem;
                        width: 6rem;
                        background-color: $color-dark;
                        // margin-right: 2.3rem;
                        color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .footer__navigation__right__item__media {
                            position: relative;
                            height: 5rem;
                            width: 5rem;
                            .footer__navigation__right__item__image{
                                @extend %cover;
                                vertical-align: top;
                                object-fit: cover;

                            }
                        }
                    }
                }
            }
        }
    }
}
  
